/* Initialisation des fonts */

@font-face {
	font-family: raleway;
	src: url(../policies/Raleway-Regular.ttf);
}

@font-face {
	font-family: raleway-bold;
	src: url(../policies/Raleway-Bold.ttf);
}

body{
	font-family: raleway;
}

/*En tête de la page.*/

header
{ 
	display: flex;
	justify-content: space-between;
	/*Placement du header en général.*/
}

header img
{
	height:auto;
	width:100px;
	/*Taille du logo de l'en-tête*/
}

/*Menu de navigation.*/

#nav_1
{
	display: flex;
	justify-content: space-between;
	/*Placement général du menu de navigation.*/
}

#heberg_activities
{
	display: flex;
	justify-content: space-between;
	margin-right: 2%;
	margin-left: -10%;
}

.navig
{
	margin-right: 4%;
	list-style-type: none;
	/*Ajustement du menu de navigation et retrait des puces de la liste.*/
}

.activities
{
	text-decoration: none;
	color: black;
	padding: 23px 20px 0 20px;
	/*Retrait du soulignement du lien activités et couleur noire.*/
}

.activities:hover
{
	color: #0065FC;
	border-top: 2px #0065FC solid;
	/*Changement de la couleur et apparition de la bordure supérieure (bleue) au passage de la souris sur le lien acitivités.
	Elargissement marge intérieure bordure top*/
}

#inscription
{
	color: #0065FC;
	text-decoration: none;
	padding: 23px 20px 0 20px;
	/*Couleur bleue pour le bouton d'inscription et retrait du soulignement du lien.*/
}

#inscription:hover
{
	border-top: 2px #0065FC solid;
	/*Modification de la taille et ajout de la bordure supérieure (bleue) au passage de la souris sur le bouton inscription. 
	Elargissement marge intérieure bordure top*/
}

.here
{
	text-decoration: none;
	color: black;
	padding: 23px 20px 0 20px;
	/*Retrait du soulignement du lien activités et couleur noire.*/
}

.here:hover
{
	color: #0065FC;
	border-top: 2px #0065FC solid;
	/*Changement de la couleur et apparition de la bordure supérieure (bleue) au passage de la souris sur le lien acitivités.
	Elargissement marge intérieure bordure top*/
}

/*Section 1, recherche*/

	/*La barre de recherche*/

#barre
{		
	display: flex;
	margin-left: 10px;
}

.map_i
{
	align-self: center;
	padding: 11px;
	border: none;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	background-color: #F2F2F2;
	
}

#saisie::placeholder
{
	font-family: raleway;
	font-weight: bold;
}

#saisie
{
	padding: 9px;
	margin-left: 0;
	border: 2px solid #F2F2F2;
	border-right: none;
}

#bouton
{
	font-family: raleway;
	font-weight: bold;
	border: none;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	background-color:#0065FC;
	color: white;
	padding: 11px;
}
	
	/*Les filtres*/

#les_filtres
{
	display: flex;
	margin-top: 20px;
}

#filtre
{
	font-weight: bold;
	align-self: center;
}

.span_filtres
{
	display: flex;
}

		/*Les icônes*/

.icones
{
	margin-right: 10px;
	color:#0065FC;
	background-color:#DEEBFF;
	border-radius: 700px;
	height: 36px;
	width: 36px;
	text-align: center;
	line-height: 36px !important;
}

.esp_filtres
{
	border: 3px solid #F2F2F2;
	border-left: none;
	border-radius: 40% / 130%;
	text-decoration: none;
	color: black;
	margin: 0 20px 0 20px;
	padding: 0 10px 0 0;
	line-height: 3px;
	height: 33px;
}

.esp_filtres:hover
{
	box-shadow: 1px 5px 7px gray;
}

#fam
{
	padding-right: 25px;
}

#famille
{
	margin-right: 15px;
}

	/*La phrase information logements disponibles*/

#info
{
	display: flex;
	margin-top: 20px;
}

.icone_logement
{
	align-self: center;
	margin: 0 11px 0 2px;
	color: #0065FC;
	font-size: 12px;
	border: 2px solid #F2F2F2;
	padding: 5px 10px 5px 10px;
	border-radius: 500px;
}

/*Section Hébergements*/

	/*Container global*/

#sec_hebergements
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	width: 100%;
	padding-top: 15px;
	margin-bottom: 60px;
}

#parent_hebergements
{
	display: flex;
	width: 100%;
	justify-content: center;
	height: 80%;
}

#hebergements
{
	width: 60%;
	background-color: #F2F2F2;
	border-radius: 20px / 20px;
}

		/*Les plus populaires*/

	/*titre*/

#populaire
{
	width: 25%;
	border-radius: 20px / 20px;
	background-color: #F2F2F2;
}

#tete_pop
{
	display: flex;
	justify-content: space-around;
}

#icone_pop
{
	align-self: center;
	font-size: 1.5rem;
}

	/*Container global*/

#pop_fiches
{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80%;
}

	/*liens*/

.lien_pop
{
	display: flex;
	background-color: white;
	padding: 8px;
	width: 78%;
	height: 25%;
	border-radius: 20px / 20px;
	margin-bottom: 50px;
	text-decoration: none;
	color: black;
	box-shadow: 1px 1px 5px gray;
}

.lien_pop:hover
{
	box-shadow: 15px 15px 20px gray;
}

	/*Images*/

.pop_img
{
	min-width: 43%;
	max-width: 43%;
	height: auto;
	overflow: hidden;
	border-radius: 15px / 15px;
	border-bottom-right-radius: 0em;
	border-top-right-radius: 0em;
	margin-right: 5%;
}

.img_pop
{
	width: auto;
	height: 143px;

}

.move_img_pop
{
	position: relative;
	right: 32%;
}

.move_img_pop2
{
	width: 100%;
}

	/*contenu*/

.pop_contenu
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.pop_text
{
	margin: 8% 0 10% 0;
}

		/*hébergements*/

	/*Titre*/

#hebergements h3
{
	margin-left: 8%;
	font-size: 1.1rem;
}

	/*Containers des "cartes" d'hébergements*/

#les_hebergements
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 90%;
}

	/*Container liens*/

.lien_heberg
{
	background-color: white;
	padding: 8px;
	width: 28%;
	border-radius: 20px / 20px;
	text-decoration: none;
	color: black;
	box-shadow: 1px 1px 5px gray;
	height: 29%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.lien_heberg:hover
{
	box-shadow: 15px 15px 20px gray;
}

	/*Images*/

.heberg_img
{
	width: 95%;
	overflow: hidden;
	border-radius: 15px / 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	height: 55%;
}

.img_sec_1
{
	width: 220px;
	height: auto;
	/*height: auto; permet de garder le ratio de l'image*/
}

.move_img
{
	position: relative;
	bottom: 20px;
}

.move_img_2
{
	position: relative;
	bottom: 50px;
}

.move_img_big
{
	position: relative;
	bottom: 120px;
}

	/*Noms et Prix*/
.np
{
	/*! line-height: 3px; */
	margin: 0;
}

.euros
{
	font-weight: bold;
}

	/*étoiles*/

.stars
{
	color: #0065FC;
	text-shadow: 1px 0 1px gray;
}

.stars_none
{
	color: #F2F2F2;
	text-shadow: 1px 0 1px gray;
}

	/*Afficher plus*/

#afficher
{
	text-decoration: none;
	color: black;
}

#afficher:hover
{
	text-decoration: underline;
}

#afficher_plus_h4
{
	margin: 0 0 0 8%;
}

/*Section Activités*/

	/*Containers globaux*/

#sec3
{
	margin-right: 2%;
	margin-left: 2%;
}

#sec_activites
{
	display: flex;
	justify-content: space-around;
}

	/*Titre*/

#activites
{
	margin-bottom: 2%;
	margin-left: 3%
}

.colonne_activite
{
	width: 20%;
}

	/*Colonnes avec une seule activité*/

.container_img
{
	width: 100%;
	height: 400px;
	overflow: hidden;
	border-radius: 30px / 30px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.img_activites
{
	width: 600px;
	height: 400px;
}

.move_img_activite
{
	position: relative;
	right: 150px;
}

	/*Colonnes avec deux activités*/

.double_img
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container_img_2
{
	width: 100%;
	height: 151px;
	overflow: hidden;
	border-radius: 30px / 30px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px
}

.img_petites_activites
{
	width: 100%;
	height: auto;
}

#container_img_2_activite_2
{
	width: 100%;
	height: 173px;
	overflow: hidden;
	border-radius: 30px / 30px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#img_2_activites
{
	width: 100%;
	height: auto;
	position: relative;
	bottom: 100px;
}

#container_img_2_activite_3
{
	width: 100%;
	height: 130px;
	overflow: hidden;
	border-radius: 30px / 30px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-top: 51px
}

#img_3_activites
{
	width: 100%;
	height: auto;
}

	/*Liens*/

.liens_activites
{
	text-decoration: none;
	color: black;

}

.box_liens
{
	box-shadow: 0 0 5px gray;
	width: 100%;
}

.link_box
{
	border-radius: 30px / 30px;
}

.box_liens:hover
{
	box-shadow: 5px 20px 15px gray;
}

	/*Bordures bas de fiche*/

.container_activites
{
	border: 3px solid #F2F2F2;
	line-height: 3px;
	padding-left: 10px;
	border-radius: 30px / 30px ;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

	/*Pied de page*/

/*Container global*/

#pied
{
	display: flex;
	margin-top: 5%;
	background-color: #F2F2F2;
	justify-content: space-around;
	padding: 2% 0 2% 0;
}

/*Liens*/

.link_footer
{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: black;
	line-height: 300%;
}

.link_footer:hover
{
	text-decoration: underline;
}