/* Initialisation des fonts */

@font-face {
	font-family: raleway;
	src: url(../policies/Raleway-Regular.ttf);
}

@font-face {
	font-family: raleway-bold;
	src: url(../policies/Raleway-Bold.ttf);
}

body
{
	font-family: raleway;
	margin: 0%;
}

/*En tête de la page.*/

header
{ 
	display: flex;
	justify-content: space-between;
	margin-top: 0.5%;
	/*Placement du header en général.*/
}

#head_logo
{
	margin-left: 0.5%;
}

header img
{
	height:auto;
	width:100px;
	/*Taille du logo de l'en-tête*/
}

/*Menu de navigation.*/

#nav
{
	display: flex;
	flex-direction: row-reverse;
}

#nav_1
{
	display: inline-flex;
	justify-content: space-between;
	/*Placement général du menu de navigation.*/
}

#nav_2
{
    justify-content: space-between;
    display: inline-flex;
    list-style: none;
    margin-right: -10%;
}

#heberg_activities
{
	display: flex;
	justify-content: space-between;
	margin-right: 2%;
	margin-left: -10%;
	flex-basis: 100%;
	list-style: none;
}

.navig
{
	margin-right: 4%;
	list-style-type: none;
	/*Ajustement du menu de navigation et retrait des puces de la liste.*/
}

.activities
{
	text-decoration: none;
	color: black;
	padding: 23px 20px 0 20px;
	/*Retrait du soulignement du lien activités et couleur noire.*/
}

.activities:hover
{
	color: #0065FC;
	border-top: 2px #0065FC solid;
	/*Changement de la couleur et apparition de la bordure supérieure (bleue) au passage de la souris sur le lien acitivités.
	Elargissement marge intérieure bordure top*/
}

#inscription
{
	color: #0065FC;
	text-decoration: none;
	padding: 23px 20px 0 20px;
	font-weight: bold;
	/*Couleur bleue pour le bouton d'inscription et retrait du soulignement du lien.*/
}

#inscription:hover
{
	border-top: 2px #0065FC solid;
	/*Modification de la taille et ajout de la bordure supérieure (bleue) au passage de la souris sur le bouton inscription. 
	Elargissement marge intérieure bordure top*/
}

.here
{
	text-decoration: none;
	color: black;
	padding: 23px 20px 0 20px;
	/*Retrait du soulignement du lien activités et couleur noire.*/
}

.here:hover
{
	color: #0065FC;
	border-top: 2px #0065FC solid;
	/*Changement de la couleur et apparition de la bordure supérieure (bleue) au passage de la souris sur le lien acitivités.
	Elargissement marge intérieure bordure top*/
}


/*Les titres*/

#titres
{
	margin-left: 0.5%;
}

/*Section 1, recherche*/

	/*La barre de recherche*/

#barre
{		
	display: flex;
	margin-left: 10px;
}

.map_i
{
	align-self: center;
	padding: 11px;
	border: none;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	background-color: #F2F2F2;
	
}

#saisie::placeholder
{
	font-family: raleway;
	font-weight: bold;
}

#saisie
{
	padding: 9px;
	margin-left: 0;
	border: 2px solid #F2F2F2;
	border-right: none;
}

#bouton
{
	font-family: raleway;
	font-weight: bold;
	border: none;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	background-color:#0065FC;
	color: white;
	padding: 11px;
}
	
	/*Les filtres*/

#les_filtres
{
	display: flex;
	margin-top: 20px;
	margin-left: 0.5%;
}

#filtre
{
	font-weight: bold;
	align-self: center;
}

.span_filtres
{
	display: flex;
}

#eco_fam
{
	display: flex;
}

		/*Les icônes*/

.icones
{
	margin-right: 10px;
	color:#0065FC;
	background-color:#DEEBFF;
	border-radius: 700px;
	height: 36px;
	width: 36px;
	text-align: center;
	line-height: 36px !important;
}

.esp_filtres
{
	border: 3px solid #F2F2F2;
	border-left: none;
	border-radius: 40% / 130%;
	text-decoration: none;
	color: black;
	margin: 0 20px 0 20px;
	padding: 0 10px 0 0;
	line-height: 3px;
	height: 33px;
}

.esp_filtres:hover
{
	box-shadow: 1px 5px 7px gray;
}

#fam
{
	padding-right: 25px;
}

#famille
{
	margin-right: 15px;
}

	/*La phrase information logements disponibles*/

#info
{
	display: flex;
	margin-top: 20px;
}

.icone_logement
{
	align-self: center;
	margin: 0 11px 0 2px;
	color: #0065FC;
	font-size: 12px;
	border: 2px solid #F2F2F2;
	padding: 5px 10px 5px 10px;
	border-radius: 500px;
}

/*Section Hébergements*/

	/*Container global*/

#sec_hebergements
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	width: 100%;
	padding-top: 15px;
	margin-bottom: 60px;
}

#parent_hebergements
{
	display: flex;
	width: 100%;
	justify-content: center;
	height: 80%;
}

#hebergements
{
	width: 60%;
	background-color: #F2F2F2;
	border-radius: 20px / 20px;
}

		/*Les plus populaires*/

	/*titre*/

#populaire
{
	width: 25%;
	border-radius: 20px / 20px;
	background-color: #F2F2F2;
}

#tete_pop
{
	display: flex;
	justify-content: space-around;
}

#icone_pop
{
	align-self: center;
	font-size: 1.5rem;
}

	/*Container global*/

#pop_fiches
{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80%;
}

	/*liens*/

.lien_pop
{
	display: flex;
	background-color: white;
	padding: 8px;
	width: 78%;
	height: 25%;
	border-radius: 20px / 20px;
	margin-bottom: 50px;
	text-decoration: none;
	color: black;
	box-shadow: 1px 1px 5px gray;
}

.lien_pop:hover
{
	box-shadow: 15px 15px 20px gray;
}

	/*Images*/

.pop_img
{
	min-width: 43%;
	max-width: 43%;
	height: auto;
	overflow: hidden;
	border-radius: 15px / 15px;
	border-bottom-right-radius: 0em;
	border-top-right-radius: 0em;
	margin-right: 5%;
}

.img_pop
{
	width: auto;
	height: 143px;

}

.move_img_pop
{
	position: relative;
	right: 32%;
}

.move_img_pop2
{
	width: 100%;
}

	/*contenu*/

.pop_contenu
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.pop_text
{
	margin: 8% 0 10% 0;
}

		/*hébergements*/

	/*Titre*/

#hebergements h3
{
	margin-left: 8%;
	font-size: 1.1rem;
}

	/*Containers des "cartes" d'hébergements*/

#les_hebergements
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 90%;
}

	/*Container liens*/

.lien_heberg
{
	background-color: white;
	padding: 8px;
	width: 28%;
	border-radius: 20px / 20px;
	text-decoration: none;
	color: black;
	box-shadow: 1px 1px 5px gray;
	height: 35%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.lien_heberg:hover
{
	box-shadow: 15px 15px 20px gray;
}

	/*Images*/

.heberg_img
{
	width: 100%;
	overflow: hidden;
	border-radius: 15px / 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	height: 73%;
}

.img_sec_1
{
	width: 100%;
	height: auto;
	/*height: auto; permet de garder le ratio de l'image*/
}

.move_img
{
	position: relative;
	bottom: 20px;
}

.move_img_2
{
	position: relative;
	bottom: 50px;
}

.move_img_big
{
	position: relative;
	bottom: 53px;
	height: 129%;
}

.panier 
{
	height: 93%;
}

.mer
{
	height: 127%;
}

	/*Noms et Prix*/
.np
{
	margin: 0;
}

.euros
{
	font-weight: bold;
}

	/*étoiles*/

.stars
{
	color: #0065FC;
	text-shadow: 1px 0 1px gray;
	font-size: 0.9rem;
}

.stars_none
{
	color: #F2F2F2;
	text-shadow: 1px 0 1px gray;
	font-size: 00.9rem;
}

	/*Afficher plus*/

#afficher
{
	text-decoration: none;
	color: black;
}

#afficher:hover
{
	text-decoration: underline;
}

#afficher_plus_h4
{
	margin: 0 0 0 8%;
}

/*Section Activités*/

	/*Containers globaux*/

#sec3
{
	margin-right: 2%;
	margin-left: 2%;
}

#sec_activites
{
	display: flex;
	justify-content: space-around;
}

#sec_activites h4
{
	font-size: 1rem;
}

	/*Titre*/

#activites
{
	margin-bottom: 2%;
	margin-left: 3%
}

.colonne_activite
{
	width: 16%;
}

	/*Colonnes avec une seule activité*/

.container_img
{
	width: 100%;
	height: 400px;
	overflow: hidden;
	border-radius: 30px / 30px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.img_activites
{
	width: 600px;
	height: 400px;
}

.move_img_activite
{
	position: relative;
	right: 150px;
}

	/*Colonnes avec deux activités*/

.double_img
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container_img_2
{
	width: 100%;
	height: 151px;
	overflow: hidden;
	border-radius: 30px / 30px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px
}

.img_petites_activites
{
	width: 100%;
	height: 100%;
}

#container_img_2_activite_2
{
	width: 100%;
	height: 173px;
	overflow: hidden;
	border-radius: 30px / 30px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background: url(../images/activites/4_small/activite_2.jpg) center no-repeat;
	background-size: 100%;

}

#img_2_activites
{
	width: 100%;
	height: auto;
}

#container_img_2_activite_3
{
	width: 100%;
	height: 130px;
	overflow: hidden;
	border-radius: 30px / 30px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-top: 51px;
}

#img_3_activites
{
	width: 100%;
	height: 100%;
}

.background_act4
{
	background: url(../images/activites/4_small/activite_4.jpg) center no-repeat;
}

	/*Liens*/

.liens_activites
{
	text-decoration: none;
	color: black;

}

.box_liens
{
	box-shadow: 0 0 5px gray;
	width: 120%;
}

.link_box
{
	border-radius: 30px / 30px;
}

.box_liens:hover
{
	box-shadow: 5px 20px 15px gray;
}

	/*Bordures bas de fiche*/

.container_activites
{
	border: 3px solid #F2F2F2;
	padding-left: 10px;
	border-radius: 30px / 30px ;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

	/*Pied de page*/

/*Container global*/

#pied
{
	display: flex;
	margin-top: 5%;
	background-color: #F2F2F2;
	justify-content: space-around;
	padding: 2% 0 2% 0;
}

/*Liens*/

.link_footer
{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: black;
	line-height: 300%;
}

.link_footer:hover
{
	text-decoration: underline;
}

	/*Media Queries*/

@media screen and (max-width: 1280px)

/*Petites résolutions (tablettes et petits écrans)*/

{

/*Les hébergements*/

	/*global*/

	#sec_hebergements
	{
		flex-direction: column;
	}

	/*Les plus populaires*/
	
	#populaire
	{
		width: 100%;
		margin-bottom: 5%;
	}

	#tete_pop
	{
		justify-content: space-between;
		margin: 0 5% 0 5%;
	}

	#pop_fiches
	{
		flex-direction: row;
		justify-content: space-around;
	}

	.lien_pop
	{
		width: 18%;
		height: 31%;
		display: flex;
		flex-direction: column;
	}

	.pop_img
	{
		min-width: 100%;
		max-width: 100%;
		border-bottom-right-radius: 15px;
		border-top-right-radius: 15px;
	}

	.img_pop
	{
		width: 100%;
	}

	.move_img_pop
	{
		position: static;
	}

	.pop_text
	{
		margin: 1%;
	}

	/*Hébergements*/

	#hebergements
	{
		width: 100%;
		background-color: white;
	}

	/*Activités*/

	#sec_activites
	{
		flex-wrap: wrap;
	}

	.single
	{
		width: 30%;
	}

	.double
	{
		width: 60%;
		display: flex;
		margin-left: -5%;
	}

	.box_liens
	{
		width: 100%;
	}

	.container_img
	{
		height: 250px;
	}

	#container_img_2_activite_2
	{
		height: 250px;
	}

	#container_img_2_activite_3
	{
		height: 250px;
		margin-top: 0%;
	}

	.last
	{
		margin-left: 4%;
	}

	.liens_activites
	{
		width: 100%;
	}

	.double_img
	{
		flex-direction: row;
	}

	.container_img_2
	{
		height: 250px;
	}

	.top_4
	{
		margin-top: 4%;
	}

}


@media screen and (max-width: 890px)

/*format intermédiaire 1*/

/*filtres*/

{
	.esp_filtres
	{
		margin: 0;
	}
}

@media screen and (max-width: 700px)

/*Format intermédiaire 2*/

{
	/*Navigation*/

	header
	{
		flex-direction: column;
	}

	#heberg_activities
	{
		justify-content: space-around;
	}

	#nav_1
	{
		flex-basis: 35%;
	}

	#nav_2
	{
    	flex-basis: 65%;
		justify-content: right;
	}

	.margin-li-left{
		margin-left: 15%;
	}

	.margin-li-right{
		margin-right: 15%;
	}

	.here:hover
	{
		border: none;
	}

	.activities:hover
	{
		border: none;
	}

	#inscription:hover
	{
		border: none;
	}

	/*Barre de recherche*/

	#barre
	{
		justify-content: center;
	}

	/*filtres*/

	#filtre
	{
		width: 90%;
		margin-bottom: 2%;
	}
	#eco_fam
	{
		display: flex;
	}

	#les_filtres
	{
		flex-direction: column;
	}

	.esp_filtres
	{
		width: 60%;
	}

	/*Les plus populaires*/

	#pop_fiches
	{
		flex-direction: column;
	}

	.lien_pop
	{
		width: 60%;
		flex-direction: row;
	}

	.pop_img
	{
		min-width: 43%;
		max-width: 43%;
		height: auto;
		overflow: hidden;
		border-radius: 15px / 15px;
		border-bottom-right-radius: 0em;
		border-top-right-radius: 0em;
		margin-right: 5%;
	}

	.img_pop
	{
		height: 143px;
	}

	.move_img_pop2
	{
		width: 100%;
	}

		/*contenu*/

	.pop_contenu
	{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.pop_text
	{
		margin: 8% 0 10% 0;
	}

		/*Hébergements*/

	.lien_heberg
	{
		width: 60%;
		height: auto;
		margin-bottom: 5%;
	}

	.heberg_img
	{
		width: 100%;
		height: auto;
		overflow: hidden;
		border-radius: 15px / 15px;
		border-bottom-left-radius: 0%;
		border-bottom-right-radius: 0%;
	}

	.img_sec_1
	{
		width: 100%;
		height: 143px;
	}

	.move_img_big
	{
		bottom: 0%;
	}

	.move_img_2
	{
		bottom: 0%;
	}

	.move_img
	{
		bottom: 0%;
	}

	.heberg_contenu
	{
		line-height: 152%;
	}

		/*Pied*/

	#pied
	{
		flex-direction: column;
		margin-top: 15%;
	}

	#a_propos
	{
		margin: 2%;
	}

	#nos_hebergements
	{
		margin: 2%;		
	}

	#assistance
	{
		margin: 2%;
	}

	.link_footer
	{
		line-height: 190%;
	}

	
}

@media screen and (max-width: 550px)
{

	body 
	{
	 margin-right: -2%;
	}

	/*Navigation*/

	#head_logo
	{
		position: absolute;
	}

	#nav{
		display: initial;
		flex-direction: unset;
	}

	#nav_1
	{
		display: flex;
		justify-content: flex-end;
	}

	#nav_2
	{
		display: flex;
		height: 100%;
		width: 100%;
		padding: 0%;
	}

	.margin-li-left{
		margin-left: 0;
	}

	.margin-li-right{
		margin-right: 0;
	}


	.navigation
	{
		list-style: none;
		width: 100%;
		padding: 0;
		z-index: 0;
		text-align: center;
		display: flex;
		flex-basis: 100%;
	}

	.activities
	{
		border-bottom: 3px solid #F2F2F2;
		margin-bottom: 5%;
		flex-basis: 100%;
		padding-bottom: 10%;
	}

	.activities:hover
	{
		border-top: none;
		border-bottom: 3px solid #0065FC;
		margin-bottom: 5%;
	}

	.here
	{
		border-bottom: 3px solid #F2F2F2;
		margin-bottom: 5%;
		flex-basis: 100%;
	}

	.here:hover
	{
		border-top: none;
		border-bottom: 3px solid #0065FC;
		margin-bottom: 5%;
	}

	#heberg_activites
	{
		display: flex;
		width: 166%;
		margin: 0;
		height: 45%;
		padding-left: 7%;
	}

	#inscription
	{
		padding: 23px 20px 0 20px;
		font-weight: bold;
	}

		/*Les plus populaires*/

	.lien_pop
	{
		width: 90%;
	}

		/*Les hébergements*/

	.lien_heberg
	{
		width: 90%;
	}

		/*Activités*/

	#sec_activites
	{
		flex-direction: column;
	}

	.box_liens
	{
		width: 85%;
		margin: auto;
	}

	.double
	{
		flex-direction: column;
		width: 100%;
		margin-top: 5%;
		margin-left: 0;
	}

	.single
	{
		width: 100%;
	}

	.last
	{
		margin-top: 5%;
		margin-left: 0;
	}

	.move_img_activite
	{
		bottom: 50%;
	}

}